p {
	margin: 0;
}

.main {
	background-color: #fffaf0;
}

.main-content {
	margin: auto;
}

.item-list {
	background-color: #fafafa;
	position: relative;
	width: 1000px;
	margin: auto;
	margin-top: 30px;
	padding-left: 20px;
	font-size: 20px;
	border-radius: 20px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.item-category {
	display: flex;
	padding-left: 20px;
}

.item-pics {
	display: flex;
	padding-left: 20px;
}

.item-registDate {
	display: flex;
	padding-left: 20px;
}

.item-expirationDays {
	display: flex;
	padding-left: 20px;
}

 .item-list-title {
	 width: 150px;
 }
 
 .item-list-info {
 }

.item-name {
	font-size: 33px;
}

.item-delete {
	position: absolute;
	bottom: 50px;
    right: 50px;
}