input {
	-webkit-appearance: none;
}

/* +ボタン */
#add-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 60px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

#add-button:hover {
    background-color: #2980b9;
}

/* モーダル */
.modal {
    display: none; /* 初期状態で非表示にする */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fafafa;
    font-size: 33px;
    border-radius: 20px;
    z-index: 2;
}

/* ✗ボタン */
.close-button {
	position:absolute;
	top: 10px;
    right: 30px;
    font-size: 60px;
    cursor: pointer;
    z-index: 2;
}

.modal-title {
	text-align: center;
	margin-top: 40px;
}

.modal-form input[type="text"], [type="number"], [type="date"] {
	width: 300px;
	height: 40px;
	font-size: 33px;
	border-radius: 8px;
	border: 1px solid #3498db;
}

.form-submit-area {
	width: 100%;
	text-align: center;
}

.submit-button {
	padding: 30px 100px;
    font-size: 33px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.submit-button:hover {
	background-color: #2980b9;
}

.null-form {
	background-color: darkgray;
	cursor: auto;
}

.null-form:hover {
	background-color: darkgray;
}